name: Run Tests

permissions:
  contents: read

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Checkout repository
        uses: actions/checkout

      - name: Setup Python
        uses: actions/setup-python
        with:
          python-version: "3.12.11"

      - name: Install uv
        uses: astral-sh/setup-uv
        with:
          enable-cache: true

      - name: Create virtualenv and install dependencies
        run: |
          uv venv .venv
          uv pip install -r requirements.txt
        env:
          UV_CACHE_DIR: /tmp/.uv-cache

      - name: Run tests
        run: |
          source .venv/bin/activate
          pytest -q
